/*===========================================
   Variables
===========================================*/

// Colors
$black: #111;
$white: #fff;
$boulder: #797979;
$alto: #bfbfbf;
$lightgrey: #f2f2f2;
$alabaster: #fbfbfb;

// Font Weights

$font-weight--thin  : 300;
$font-weight--light : 400;
$font-weight--medium: 600;
$font-weight--bold  : 700;
$font-weight--ultra : 800;

// Breakpoints

$brkpoint-sm:  1px;
$brkpoint-md:  768px;
$brkpoint-lg:  1024px;
$brkpoint-xlg: 1400px;

// Typography
$font-stack-primary: 'Open Sans', serif;
$base-font-size: 16px;

// Margin centered
$margin-center: 0 auto;
